$primary-palette: (50 : #e4e5ea,
  100 : #babfcc,
  200 : #8d94aa,
  300 : #5f6987,
  400 : #3c496e,
  500 : #1a2954,
  600 : #17244d,
  700 : #131f43,
  800 : #0f193a,
  900 : #080f29,
  A100 : #657eff,
  A200 : #3253ff,
  A400 : #0029fe,
  A700 : #0025e5,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$accent-palette: (50 : #e4f9e7,
  100 : #bcf1c3,
  200 : #90e79b,
  300 : #64dd72,
  400 : #42d654,
  500 : #21cf36,
  600 : #1dca30,
  700 : #18c329,
  800 : #14bd22,
  900 : #0bb216,
  A100 : #dfffe0,
  A200 : #acffaf,
  A400 : #79ff7e,
  A700 : #5fff66,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$warn-palette: (50 : #fee8e7,
  100 : #fcc7c3,
  200 : #faa19b,
  300 : #f77b72,
  400 : #f65f54,
  500 : #f44336,
  600 : #f33d30,
  700 : #f13429,
  800 : #ef2c22,
  900 : #ec1e16,
  A100 : #ffffff,
  A200 : #ffe9e9,
  A400 : #ffb8b6,
  A700 : #ff9f9c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
