@import "./sass/theme.scss";

* {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 0px;
}

main {
  height: calc(100% - 300px); // 50px for nav, 300px for padding
  padding: 150px 10vw;

  display: block; // for whatever reason IE treats <main> elements as inline
}
