<header>
  <h1>Examples</h1>
</header>
<section id="examples-cards">
  <mat-card [routerLink]="'ui'">
    <mat-card-header>
      <mat-card-title>UI</mat-card-title>
      <mat-card-subtitle>
        Controls, layouts, forms, and theming
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card [routerLink]="'api'">
    <mat-card-header>
      <mat-card-title>API Calls</mat-card-title>
      <mat-card-subtitle>
        Making API calls, subscribing to the response, handling errors, and parsing data into models
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card [routerLink]="'unit-tests'">
    <mat-card-header>
      <mat-card-title>Unit Tests</mat-card-title>
      <mat-card-subtitle>
        Writing unit tests, mocking services, mocking data, and spying on method calls
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>
