:host {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;

  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}

* {
  line-height: 1.8rem;
  color: #0c1327;
}

aside {
  margin-left: 3rem;
  flex-basis: 20%;
  position: sticky;
  top: 90px;

  color: #1a2954;
  border-left: 5px solid #21cf36;
}

aside ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

aside ul li {
  font-size: 14px;
}

aside ul li a {
  text-decoration: none;
  color: #0c1327;
}

aside ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #21cf36;
}

article {
  flex-grow: 2;
  flex-shrink: 2;
  max-width: 50rem;
}

h3::before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  display: inline-block;
  padding: 0.1rem 0.3rem 0.15rem;
  margin: 0 0.1rem;

  font-family: "Operator Mono", "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  line-height: 1.3rem;

  color: #199a28;
  background-color: hsl(224, 53%, 94%);
  border: 1px solid hsl(224, 53%, 85%);
  border-radius: 0.2rem;
}

p {
  font-size: 16px;
}

a {
  color: #1a2954;
  text-decoration-color: #21cf36;
  text-underline-position: under;
}

a:hover {
  text-decoration-color: #1a2954;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 30px rgba(0, 0, 0, 0.08);
}

ul li {
  margin-bottom: 1rem;
}

button.mat-raised-button {
  position: relative;
  float: right;
}

// stupid mat-icon vertical align fix https://github.com/angular/components/issues/8842#issuecomment-457664561
button.mat-button .mat-icon,
button.mat-raised-button .mat-icon,
button.mat-flat-button .mat-icon,
button.mat-stroked-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
  color: inherit;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
