<aside>
  <ul>
    <li><a href="#buttons">Buttons</a></li>
  </ul>
</aside>
<article>
  <header>
    <h1>UI</h1>
  </header>
  <p>
    The code for the examples below can be found in the <code>~/examples/ui-examples/</code> folder.
  </p>
  <section>
    <header>
      <h3>Buttons</h3>
    </header>
    <h3>Raised Buttons</h3>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="primary" class="success">Success</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </section>



</article>
