nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;

  color: #fff;
  background-color: #1a2954;

  //border-bottom: 2px solid #21cf36;
  box-shadow: 0px 0px 10px -3px #072c0b;
  z-index: 99;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  list-style: none;
}

li:nth-child(n + 3) {
  border-bottom: 4px solid #1a2954;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
}

li:hover {
  cursor: pointer;
  background-color: hsl(224, 53%, 28%);
}

li:focus {
  outline: 0;
}

.active {
  border-color: #21cf36;
}
